$Gray100:   #f5f5f5;
$Gray500:   #9e9e9e;
$Gray900:   #212121;
$Red100:    #ffcdd2;
$Red500:    #f44336;
$Red900:    #b71c1c;
$Orange100: #ffe0b2;
$Orange500: #ff9800;
$Orange900: #e65100;
$LBlue100:  #b3e5fc;
$LBlue500:  #03a9f4;
$LBlue900:  #01579b;

@mixin skeleton-box() {
  border: none;
  border-bottom: 1px solid $Gray100;
  margin: .5em;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
}
@mixin fontcolor_gradient($color1, $color2) {
  background: $color1;
  background: -webkit-linear-gradient(left, $color1, $color2);
  background: -o-linear-gradient(right, $color1, $color2);
  background: -moz-linear-gradient(right, $color1, $color2);
  background: linear-gradient(to right, $color1, $color2);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

html, body, p {
  border: 0;
  padding: 0;
  background: $Gray900;
  color: $Gray100;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}
h1, h2, h3, h4, h5, h6 { font-family: 'Merriweather', serif; }
h1, h2 { @include fontcolor_gradient($Red500, $Red900); }
h3, h4, h5, h6 { @include fontcolor_gradient($Orange500, $Orange900); }
a {
  text-decoration: none;
  color: $Red500;
  &:hover, &:active, &:focus { color: $Red900; }
}

.checkbox {
  width: 80px;
  height: 26px;
  margin-bottom: 0.5em;
  background: $Gray900;
  position: relative;
  border-radius: 4px;
  border-bottom: 1px solid $Gray100;
  &.RW {
    &:after { content: 'R'; }
    &:before { content: 'WI'; }
  }
  &.RS {
    &:after { content: 'R'; }
    &:before { content: 'S'; }
  }
  &.PO {
    &:after { content: 'P'; }
    &:before { content: 'O'; }
  }
  &.ESType {
    width: 100%;
    max-width: 20em;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    label {
      width: 50%;
      height: 2.5em;
    }
    input[type="checkbox"]:checked + label { left: 50%; }
    &:after, &:before {
      margin-top: 0.25em;
      font-size: 1.5em;
      text-transform: uppercase;
    }
    &:after { content: "Arcane"; }
    &:before { content: "Divine"; }
  }
  &:after {
    content: 'No';
    color: $Gray100;
    position: absolute;
    right: 10px;
    z-index: 0;
    font-size: 12px/26px;
  }
  &:before {
    content: 'Yes';
    color: $Red500;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px;
  }
  label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: $Gray100;
    border-radius: 4px;
    transition: all 0.4s ease;
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
      left: 43px;
      background: $Red500;
    }
  }
}

input, select, option, button, label { font-family: 'Montserrat', sans-serif; }
option { background-color: $Gray900; }
textarea {
  resize: none;
  min-height: 15em;
}
select,
textarea,
input[type="number"],
input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $Gray100;
  color: $Gray100;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
select:hover,
textarea:hover,
input[type="number"]:hover,
input[type="text"]:hover,
select:focus,
textarea:focus,
input[type="number"]:focus,
input[type="text"]:focus {
  border: none;
  border-bottom: 1px solid $Red500;
}
input[type="number"].gold:hover,
input[type="text"].gold:hover,
input[type="number"].gold:focus,
input[type="text"].gold:focus {
  border: none;
  border-bottom: 1px solid $Orange500;
}
input[type="number"].xp:hover,
input[type="text"].xp:hover,
input[type="number"].xp:focus,
input[type="text"].xp:focus {
  border: none;
  border-bottom: 1px solid $LBlue500;
}

.button.button,
button.button,
input[type="submit"].button,
input[type="reset"].button,
input[type="button"].button {
  background-color: transparent;
  border-color: $Gray100;
  color: $Gray100;
}
.button.button:hover,
button.button:hover,
input[type="submit"].button:hover,
input[type="reset"].button:hover,
input[type="button"].button:hover,
.button:focus,
button.button:focus,
input[type="submit"].button:focus,
input[type="reset"].button:focus,
input[type="button"].button:focus {
  background-color: $Red500;
  border-color: $Red500;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: $Red500;
  border-color: $Red500;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: $Red900;
  border-color: $Red900;
}

form { margin: 0; }
section {
  margin-bottom: 3em;
  border-radius: 0.3em;
  border-bottom: 1px solid $Orange500;
  &:last-child { border-bottom: none; }
}
header {
  border-bottom: solid $Gray100 .2em;
  margin-bottom: 2em !important;
  margin-top: 1em !important;
  h1 { margin-bottom: 0.1em; }
  p  { font-size: 85%; margin-bottom: 1em; }
}
nav {
  li { list-style: none; }
  a {
    display: block;
    text-align: center;
  }
}
.seedList {
  text-align: center;
  input[type="radio"], input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }
  label {
    display: inline-block;

    @include skeleton-box();
    color: $Gray100;
    cursor: pointer;

    margin: 0.5em;
    padding: 0 1em;
    min-width: 20%;
  }
  input[type="checkbox"]:checked + label {
    color: $Red500;
    background: $Gray100;
    border-bottom: 1px solid $Red500;
  }
}
.finishedSpell {
  .header {
    :nth-child(2) {
      font-size: 1.5em;
      color: $Orange500;
      margin-bottom: 0.1em;
    }
    :nth-child(3) {
      font-size: 0.8em;
      font-style: italic;
    }
  }
  .metadata {
    margin-bottom: 0.5em;
    p { margin-bottom: 0; }
    .row {
      @media screen and (max-width: 549px) { margin-bottom: 0.5em; }
      :nth-child(1) p {
        color: $Gray500;
        text-align: center;
        @media screen and (min-width: 550px) { text-align: right; }
      }
      :nth-child(2) p {
        text-align: center;
        @media screen and (min-width: 550px) { text-align: justify; }
      }
    }
  }
}
