<main class="container">
  <form ng-controller="epicSpell">
    <div class="row">
      <div class="twelve columns">
        <h2>Epic Spell Generator</h2>
      </div>
    </div>

    <!-- Seeds -->
    <section>
      <div class="row">
        <div class="twelve columns">
          <h3>Seeds</h3>
          <div class="seedList">
            <span ng-repeat="seed in seeds">
              <input type="checkbox" name="seed" id="seed_{{ seed.code }}" value="{{ seed.code }}" ng-model="seedList[seed.code]" />
              <label for="seed_{{ seed.code }}">{{ seed.name }}</label>
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <h4>Main Seed</h4>
          <p>Please, select one of the seeds below.</p>
          <div class="seedList">
            <span ng-repeat="seed in mySeeds">
              <input type="checkbox" name="mainSeed" id="mainSeed_{{ seed.code }}" value="{{ seed.code }}" ng-model="mainSeedList[seed.code]" />
              <label for="mainSeed_{{ seed.code }}">{{ seed.name }}</label>
            </span>
          </div>
        </div>
      </div>
    </section>

    <!-- Type -->
    <section>
      <div class="row">
        <div class="twelve columns">
          <h3>Spell Type</h3>
          <div class="checkbox ESType">
            <input type="checkbox" ng-model="type" id="spellType" />
            <label for="spellType"></label>
          </div>
        </div>
      </div>
    </section>

    <!-- Factors -->
    <section>
      <!-- PLUS FACTORS -->
      <div class="row">
        <div class="twelve columns">
          <h3>Factors</h3>
        </div>
      </div>

      <div class="row">
        <!-- Casting Time Factors (+/-) -->
        <div class="four columns">
          <h5>Casting Time</h5>
        </div>

        <!-- Component Factors (+) -->
        <div class="four columns">
          <h5>Components</h5>
        </div>

        <!-- Duration Factors (+) -->
        <div class="four columns">
          <h5>Duration</h5>
        </div>
      </div>

      <div class="row">
        <!-- Range Factors (+) -->
        <div class="four columns">
          <h5>Range</h5>
        </div>

        <!-- Target Factors (+/-) -->
        <div class="four columns">
          <h5>Target</h5>
        </div>

        <!-- Area Factors (+) -->
        <div class="four columns">
          <h5>Area</h5>
        </div>
      </div>

      <div class="row">
        <!-- Saving Throw Factors (+) -->
        <div class="four columns">
          <h5>Saving Throw</h5>
        </div>

        <!-- Spell Resistance Factors (+) -->
        <div class="four columns">
          <h5>Spell Resistance</h5>
        </div>

        <!-- Damage Factors (+/-) -->
        <div class="four columns">
          <h5>Damage</h5>
        </div>
      </div>

      <!-- MITIGATING FACTORS -->
      <div class="row">
        <div class="twelve columns">
          <h3>Mitigating Factors</h3>
        </div>
      </div>

      <div class="row">
        <!-- Backslash Damage (-) -->
        <div class="four columns">
          <h5>Backslash Damage</h5>
          <input type="number" placeholder="d6's of damage" title="d6's of damage" class="u-full-width" ng-model="factors.minus.backslash" min=0 />
        </div>

        <!-- Burn XP (-) -->
        <div class="four columns">
          <h5>Burn XP</h5>
          <input type="number" placeholder="XP to burn" title="XP to burn" class="u-full-width" ng-model="factors.minus.xp.amount" min=0 max=20000 />
          <p>By default, we count XP against only the main caster. Check below if every caster (rituals) must contribute.</p>
          <div class="factors">
            <input type="checkbox" name="factorMinusXP" id="factorMinusXP" value="true" ng-model="factors.minus.xp.all" />
            <label for="factorMinusXP">All casters</label>
          </div>
        </div>

        <!-- Ritual (-) -->
        <div class="four columns">
          <h5>Ritual Casting</h5>
          <input type="number" placeholder="1st level Slots" title="1st level Slots" class="u-full-width" ng-model="factors.minus.ritual.slot1" min=0 />
          <input type="number" placeholder="2nd level Slots" title="2nd level Slots" class="u-full-width" ng-model="factors.minus.ritual.slot2" min=0 />
          <input type="number" placeholder="3rd level Slots" title="3rd level Slots" class="u-full-width" ng-model="factors.minus.ritual.slot3" min=0 />
          <input type="number" placeholder="4th level Slots" title="4th level Slots" class="u-full-width" ng-model="factors.minus.ritual.slot4" min=0 />
          <input type="number" placeholder="5th level Slots" title="5th level Slots" class="u-full-width" ng-model="factors.minus.ritual.slot5" min=0 />
          <input type="number" placeholder="6th level Slots" title="6th level Slots" class="u-full-width" ng-model="factors.minus.ritual.slot6" min=0 />
          <input type="number" placeholder="7th level Slots" title="7th level Slots" class="u-full-width" ng-model="factors.minus.ritual.slot7" min=0 />
          <input type="number" placeholder="8th level Slots" title="8th level Slots" class="u-full-width" ng-model="factors.minus.ritual.slot8" min=0 />
          <input type="number" placeholder="9th level Slots" title="9th level Slots" class="u-full-width" ng-model="factors.minus.ritual.slot9" min=0 />
          <input type="number" placeholder="Epic level Slots" title="Epic level Slots" class="u-full-width" ng-model="factors.minus.ritual.slotEp" min=0 />
        </div>
      </div>

      <!-- Global FACTORS -->
      <div class="row">
        <div class="twelve columns">
          <h3>Global Factors</h3>
        </div>
      </div>

      <div class="row">
        <!-- Permanency -->
        <div class="six columns">
          <h5>Make Permanent</h5>
          <div class="factors">
            <input type="checkbox" name="factorGlobalPermanent" id="factorGlobalPermanent" value="true" ng-model="factors.global.permanent" />
            <label for="factorGlobalPermanent">Permanent</label>
          </div>
        </div>
        <!-- Stone Tablet -->
        <div class="six columns">
          <h5>Record on Stone</h5>
          <div class="factors">
            <input type="checkbox" name="factorGlobalStone" id="factorGlobalStone" value="true" ng-model="factors.global.stone" />
            <label for="factorGlobalStone">Record on stone</label>
          </div>
        </div>
      </div>
    </section>

    <!-- Name and Effect -->
    <section>
      <div class="row">
        <div class="twelve columns">
          <h3>Name &amp; Effect</h3>
          <input type="text" placeholder="Spell Name" class="u-full-width" ng-model="spellName" />
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <textarea class="u-full-width" ng-model="spellDescription"></textarea>
          <p>You may use Markdown on the description!</p>
        </div>
      </div>
    </section>

    <!-- Finished Spell Output -->
    <section class="finishedSpell">
      <!-- Spell Header -->
      <div class="row header">
        <div class="twelve columns">
          <h3>Result</h3>
          <p class="mdi mdi-auto-fix"> {{ spellName }}</p>
          <p>{{ school }}{{ subschool }}{{ descriptors }}</p>
        </div>
      </div>

      <!-- Spell Metadata -->
      <div class="metadata">
        <div class="row">
          <div class="three columns"><p>Spellcraft DC:</p></div>
          <div class="nine columns"><p>{{ dc | getFinalDC }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Components:</p></div>
          <div class="nine columns"><p>{{ components | getComponents:	mySeeds:spellType }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Casting Time:</p></div>
          <div class="nine columns"><p>{{ ct }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Range:</p></div>
          <div class="nine columns"><p>{{ range }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Target:</p></div>
          <div class="nine columns"><p>{{ target }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Saving Throw:</p></div>
          <div class="nine columns"><p>{{ save | getSavingThrow }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Duration:</p></div>
          <div class="nine columns"><p>{{ duration | getDuration }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Spell Resistance:</p></div>
          <div class="nine columns"><p>{{ spellResist | getYesNo }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Developed As:</p></div>
          <div class="nine columns"><p>{{ spellType | getEpicSpellType }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>To Develop:</p></div>
          <div class="nine columns"><p>Sint litteris aliquip de ne elit elit esse ingeniis, cupidatat ubi vidisse, ita
            sed concursionibus, malis possumus te illustriora, illum aliquip transferrem qui
            est culpa tempor fugiat arbitror ab qui probant iis mandaremus. Id cillum o
            culpa.</p></div>
        </div>
      </div>

      <!-- Spell Description -->
      <div class="row">
        <div class="twelve columns">
          <div markdown-to-html="spellDescription"></div>
        </div>
      </div>
    </section>

  </form>
</main>
