<main class="container">
  <form ng-controller="epicSpell">
    <div class="row">
      <div class="twelve columns">
        <h2>Epic Spell Generator</h2>
      </div>
    </div>

    <!-- Seeds -->
    <section>
      <div class="row">
        <div class="twelve columns">
          <h3>Seeds</h3>
          <div class="seedList">
            <span ng-repeat="seed in seeds">
              <input type="checkbox" name="seed" id="seed_{{ seed.code }}" value="{{ seed.code }}" ng-model="seedList[seed.code]" />
              <label for="seed_{{ seed.code }}">{{ seed.name }}</label>
            </span>
          </div>
        </div>
      </div>
    </section>

    <!-- Main Seed -->
    <section>
      <div class="row">
        <div class="twelve columns">
          <h3>Main Seed</h3>
          <p>Please, select one of the seeds below.</p>
          <div class="seedList">
            <span ng-repeat="seed in mySeeds">
              <input type="checkbox" name="mainSeed" id="mainSeed_{{ seed.code }}" value="{{ seed.code }}" ng-model="mainSeedList[seed.code]" />
              <label for="mainSeed_{{ seed.code }}">{{ seed.name }}</label>
            </span>
          </div>
        </div>
      </div>
    </section>

    <!-- Type -->
    <section>
      <div class="row">
        <div class="twelve columns">
          <h3>Spell Type</h3>
          <div class="checkbox ESType">
            <input type="checkbox" ng-model="type" id="spellType" />
            <label for="spellType"></label>
          </div>
        </div>
      </div>
    </section>

    <!-- Name and Effect -->
    <section>
      <div class="row">
        <div class="twelve columns">
          <h3>Name &amp; Effect</h3>
          <input type="text" placeholder="Spell Name" class="u-full-width" ng-model="spellName" />
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <textarea class="u-full-width" ng-model="spellDescription"></textarea>
          <p>You may use Markdown on the description!</p>
        </div>
      </div>
    </section>

    <!-- Finished Spell Output -->
    <section class="finishedSpell">
      <!-- Spell Header -->
      <div class="row header">
        <div class="twelve columns">
          <h3>Result</h3>
          <p class="mdi mdi-auto-fix"> {{ spellName }}</p>
          <p>{{ school }}{{ subschool }}{{ descriptors }}</p>
        </div>
      </div>

      <!-- Spell Metadata -->
      <div class="metadata">
        <div class="row">
          <div class="three columns"><p>Spellcraft DC:</p></div>
          <div class="nine columns"><p>{{ dc | getFinalDC }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Components:</p></div>
          <div class="nine columns"><p>{{ components | getComponents:	mySeeds:spellType }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Casting Time:</p></div>
          <div class="nine columns"><p>{{ ct }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Range:</p></div>
          <div class="nine columns"><p>{{ range }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Target:</p></div>
          <div class="nine columns"><p>{{ target }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Saving Throw:</p></div>
          <div class="nine columns"><p>{{ save | getSavingThrow }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Duration:</p></div>
          <div class="nine columns"><p>{{ duration | getDuration }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Spell Resistance:</p></div>
          <div class="nine columns"><p>{{ spellResist | getYesNo }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>Developed As:</p></div>
          <div class="nine columns"><p>{{ spellType | getEpicSpellType }}</p></div>
        </div>
        <div class="row">
          <div class="three columns"><p>To Develop:</p></div>
          <div class="nine columns"><p>Sint litteris aliquip de ne elit elit esse ingeniis, cupidatat ubi vidisse, ita
            sed concursionibus, malis possumus te illustriora, illum aliquip transferrem qui
            est culpa tempor fugiat arbitror ab qui probant iis mandaremus. Id cillum o
            culpa.</p></div>
        </div>
      </div>

      <!-- Spell Description -->
      <div class="row">
        <div class="twelve columns">
          <div markdown-to-html="spellDescription"></div>
        </div>
      </div>
    </section>

  </form>
</main>
